{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block content %}
 <div class="row">
   <div class="col-xs-12 col-sm-6 col-lg-6">
  <h2>Log in to QA</h2>
  {% if form.errors %}
    <p style="color: red">Your username and password didn't match. Please try again.</p>
  {% endif %}
  <form method="post">
    {% csrf_token %}
  {{ form|as_bootstrap }}
  <input class="btn pull-left btn-success" type="submit" value="Log in"></input>
    <br><br><p><a href="{% url 'signup' %}">New to QA? Sign up</a></p>
  </form>
</div>
</div>
{% endblock %}
